.div1{
    display: flex;
    flex-direction: row;
    background-color: blanchedalmond;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 200px;
}
.div2 {
    display: flex;
    flex-direction: column;
    background-color: palevioletred;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 200px;
}