*{
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
.header{
    background-color: beige;

}
.nevbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px;
    height: 70px;

}
.nev_menu ul,.icon button ul {
 list-style: none;
}
.nev-menu ul li, .icon-button ul li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
}
.herosection{
    max-width: 500px;

}



